/* Resetting default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styling */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f0f0f0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-size: cover;
  background-position: center;
  color: black;
  padding: 5px 0; /* Increased padding for header */
  text-align: center;
}

header h1 {
  font-size: 3.5em;
  margin-bottom: 2px;
}

.quote {
  font-style: italic;
  font-size: 1.2em;
  margin-bottom: 20px;
}

nav {
  background-color: #333;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #555;
}

main {
  background-size: cover;
    background-position: center;
    padding: 40px 0;
    text-align: center;
    color: #333;
}

.intro {
  background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Soft shadow */
  max-width: 800px;
  margin: 0 auto;
}

.intro h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.intro p {
  font-size: 1.1em;
  font-weight: bold;
  color: #333; /* Darker text color */
  line-height: 1.6;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
